<!--
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
      <div th:replace="~{fragment :: meta}"></div>

      <div th:replace="~{fragment :: styles}"></div>

      <title>民宿一覧（オーナー用）</title>
  </head>
  
  <body>
	  <div class="samuraitravel-wrapper">
		  <div th:replace="~{fragment :: header}"></div>
		  
		  <main>
			  <div class="container samuraitravel-container pb-5">
				  <div class="row justify-content-center">
					  <nav class="may-3" style="--bsbreadcrumb-divider: '>';" aria-label="breadcrumb">
						  <ol class="breadcrumb mb-0">
							  <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
							  <li class="breadcrumb-item active" aria-current="page">とりあえず</li>
						  </ol>
					  </nav> 
					  
					  
					  
					  
				  </div>
				  
				  
				  
				  
				  
				  
				  
			  </div>
			  
			  
			  
			  
		  </main>
		  
		  
		  
		  
		  
		  
	  </div>

	  
	  
	  
	  
  </body>
  -->
  
  <!-- 追加課題用 -->